{% extends './layouts/auth.html' %}

{% block content %}
<div>
    <form action="/signin" method="post">
        <div>
            <label for="email">Enter your email address</label>
            <input type="text" name="email" required>
        </div>

        <div>
            <label for="password">Enter your password</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Sign in</button>
    </form>
    <p>Don't have an account? <a href="/signup">Create an account</a></p>
</div>
{% endblock %}