{% extends './layouts/base.html' %}

{% block content %}
<style>

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    nav li {
        display: flex;
        align-items: center;
    }

    nav li:not(:last-child)::after {
        content: "/";
        padding: 0 1em;
    }

    .container {
        padding: 0 5rem;
    }
</style>
<div class="container">
    {% if current_user.is_authenticated %}
        <div>
            <nav>
                <a href="/">your digital book shelf</a>

                <ul>
                    <li><a href="/library">library</a></li>
                    <li><a href="/settings">settings</a></li>
                </ul>
            </nav>
        </div>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{{ url_for('main.signin') }}">Login</a> |
        <a href="{{ url_for('main.signup') }}">Sign Up</a>
    {% endif %}
</div>
{% endblock %}