{% extends './layouts/base.html' %}

{% block content %}
<style>

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    nav li {
        display: flex;
        align-items: center;
    }

    nav li:not(:last-child)::after {
        content: "/";
        padding: 0 1em;
    }

    .container {
        padding: 0 5rem;
    }
</style>
<div class="container">
        <div>
            <nav>
                <a href="/">your digital book shelf</a>

                <ul>
                    <li><a href="/library">library</a></li>
                    <li><a href="/settings">settings</a></li>
                </ul>
            </nav>

            <div>
                <button>
                    Add new book
                </button>
            </div>

            <div>
                {% if user_books %}
                <table>
                    <tr>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Review</th>
                        <th>Description</th>
                    </tr>
                    
                        {% for user_book in user_books %}
                            <tr>
                                <td><strong>{{ user_book.book.title }}</strong></td>
                                <td>{{ user_book.book.author.full_name }}</td>
                                <td>{{ user_book.rating }}</td>
                                <td>{{ user_book.review_text }}</td>
                            </tr>
                        {% endfor %}
                </table>
                {% else %}
                    <p>You haven't register any reviews yet</p>
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}