{% extends './layouts/library.html' %}

{% block content %}
<style>
.flex-end {
    display: flex;
    justify-content: end;
}
.add-book {
    cursor: pointer;
    border: 1px solid oklch(92.2% 0 0);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
}

.add-book:hover {
    background-color: oklch(98.5% 0 0);
}
.add-book a {
    color: oklch(37.1% 0 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.add-book a:hover {
    color: oklch(20.5% 0 0);
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.first-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}
</style>
<div>
            <div class="flex-end">
                <div class="add-book">
                    <a href="{{ url_for('main.add_book') }}">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                        Add book
                    </a>
                </div>
            </div>

            <div class="main-container">
                {% if user_books %}
                <table>
                    <tr>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Review</th>
                        <th>Description</th>
                    </tr>
                    
                        {% for user_book in user_books %}
                            <tr>
                                <td><strong>{{ user_book.book.title }}</strong></td>
                                <td>{{ user_book.book.author.full_name }}</td>
                                <td>{{ user_book.rating }}</td>
                                <td>{{ user_book.review_text }}</td>
                            </tr>
                        {% endfor %}
                </table>
                {% else %}
                    <div class="first-time">
                        <p>Start filling your digital book shelf</p>
                        <div class="add-book">
                            <a href="{{ url_for('main.add_book') }}">
                                Add your first book
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}